.form-width {
    min-width: 500px;
}

.boxing-width {
    min-width: 50%;
}

.team-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.map-container {
    height: 300px;
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map {
    height:500px;
    width: 100%;
}

.pac-container {
    z-index: 10000;
}

.side-bar {
    min-height: 100vh;
    overflow-y: visible;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-image-focused {
    max-height: 400px;
    object-fit: contain;
}


.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

#cart:hover {
    fill: black;
    transition: .2s ease fill
}

#address-select, #payment-select, #payment-table {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

#express-checkout-btn {
    opacity: 0;
    transition: max-width .3s ease, opacity .3s ease;
    overflow: hidden;
}

#express-checkout-btn.reveal {
    max-width: 100%;
    opacity: 1;
}

#address-select.expanded, #payment-select.expanded, #payment-table.expanded {
    opacity: 1;
}

.fade-in {
    opacity: 1;
    transition: opacity .2s ease
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.card {
    transition: .2s box-shadow ease;
}

.card:hover {
    box-shadow: 0 0 12px #cfcfcf;
}

