{% include 'my_app/base/header.html'%}
{% load static %}
<script src="{% static 'my_app/js/catalog.js' %}" defer></script>
<meta name="csrf-token" content="{{ csrf_token }}">
<body>
  <div class="container d-flex  flex-wrap">
    <div class="col-12 col-md-3">
      <div>
        <div class="fw-bold fs-5">Categories</div>
        <div class="d-flex flex-wrap">
          {% for category in categories %}
            <div class="d-flex gap-2 col-4 col-md-12">
              <input class="form-check-input" type="checkbox" name="category_input" id="category{{ forloop.counter0 }}" value="{{ category }}">
              <label for="category{{ forloop.counter0 }}" class="form-label">{{ category }}</label>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="d-flex flex-wrap">
        <div class="fw-bold fs-5 col-12">Price Range</div>
          <div class="d-flex gap-2 col-4 col-md-12">
            <input class="form-check-input" type="checkbox" name="price_input" id="price1" value="price1" onclick="selectOne(this)">
            <label for="price1" class="form-label">$0.00 - $50.99</label>
          </div>
          <div class="d-flex gap-2 col-4 col-md-12">
            <input class="form-check-input" type="checkbox" name="price_input" id="price2" value="price2" onclick="selectOne(this)">
            <label for="price2" class="form-label">$51 - $150.99</label>
          </div>
          <div class="d-flex gap-2 col-4 col-md-12">
            <input class="form-check-input" type="checkbox" name="price_input" id="price3" value="price3" onclick="selectOne(this)">
            <label for="price3" class="form-label">$151 - $500.99</label>
          </div>
          <div class="d-flex gap-2 col-4 col-md-12">
            <input class="form-check-input" type="checkbox" name="price_input" id="price4" value="price4" onclick="selectOne(this)">
            <label for="price4" class="form-label">$501 - $1,000.99</label>
          </div>
          <div class="d-flex gap-2 col-4 col-md-12">
            <input class="form-check-input" type="checkbox" name="price_input" id="price5" value="price5" onclick="selectOne(this)">
            <label for="price5" class="form-label">$1,001.00+</label>
          </div>
      </div>
    </div>
    <div class="col-12 col-md-9 d-flex flex-column gap-4">
      <div class="d-flex flex-wrap gap-4 justify-content-center">
        {% for product in page_obj.object_list %}
          <div class="card col-4 p-2 d-flex flex-column" style="width: 18rem;">
            <img src="{{ product.image }}"
                 class="card-img-top w-100"
                 style="height: 150px; object-fit: contain;"
                 alt="{{ product.description }}">
            <div class="card-body d-flex flex-column justify-content-between gap-2">
              <div>
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description|truncatewords:10 }}</p>
              </div>
              <h6>${{ product.price }}</h6>
              <div class="d-flex gap-2 mt-auto">
                <a href="{% url 'product' product.name %}" class="btn btn-primary">View Product</a>
                <button class="btn btn-outline-dark" onclick="AddToCart('{{ product.name }}')">Add to Cart</button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% include 'my_app/paginator.html' %}
    </div>
  </div>
  <script>
      document.addEventListener('DOMContentLoaded', () => {
        const cat_inputs = document.querySelectorAll("input[name='category_input']")
        cat_inputs.forEach( (input) => {
          const vector = ({{ filtered_cat|safe }}) ? {{ filtered_cat|safe }} : null
          if (vector && vector.includes(input.value)) {
            input.checked = true
          }
        })
        const price_inputs = document.querySelectorAll("input[name='price_input']")
        price_inputs.forEach( (input) => {
          const val = ({{ filtered_price }}) ? '{{ filtered_price }}' : null
          console.log(input.value)
          console.log(val)
          if (val && input.value === val) {
            input.checked = true
          }
        })
      })


    function selectOne(checkbox) {
      const checkboxes = document.querySelectorAll("input[name='price_input']")
      checkboxes.forEach( (cb) => {
        if (cb != checkbox) {
          cb.checked = false;
        }
      })
    }
  </script>


{% include 'my_app/base/footer.html'%}

