{% extends 'my_app/profile/profile.html' %}
{% block content %}
{% load static %}
<div class="container bg-white my-md-3 p-3 shadow-lg">
    <div class="fw-bold fs-3 mb-5 text-center">My Wallet</div>
             {% for message in messages %}
                <div class="text-success fs-4 fw-bold text-center">{{ message }}</div>
            {% endfor %}
        <div class="px-3 row align-self-center gap-5 flex-wrap h-25 d-flex justify-content-center">
            <div class="card col-12 col-lg-3">
                <a href="{% url 'add_payment' %}" class="card-body w-100 d-flex flex-column align-items-center justify-content-center text-decoration-none text-center">
                    <img src="{% static 'my_app/img/add.svg' %}" class="img-fluid" width="90" height="90">
                    <div class="fw-bold text-dark text-opacity-75 fs-5">Add New Payment</div>
                </a>
            </div>
            {% for payment in page_obj.object_list %}
                <div class="card col-12 col-lg-3">
                    <div class="card-body d-flex flex-column justify-content-between gap-3">
                        <div class="d-flex flex-column gap-1">
                            <div class="fw-bold">{{ user.first_name }}  {{ user.last_name }}</div>
                            <div class="fs-6 text-dark">Card ending in {{ payment.last4 }}</div>
                            <div class="fs-6 fw-bold">{{ payment.brand }}</div>
                            <img src="{{ payment.image }}" class="img-fluid" height="50" width="50">
                            <div class="fs-6 fw-bold">Phone: <div class="fw-normal">{{ user.phone }}</div></div>
                        </div>
                        <div class="d-flex gap-2 align-middle">
                            <a href="{% url 'edit_payment' payment.id %}" class="text-decoration-none text-primary">Edit</a>
                            <div class="fw-bold"> | </div>
                            <div data-bs-toggle="modal" data-bs-target="#deleteModal{{ payment.id }}" class="text-decoration-none text-primary" style="cursor: pointer;">Delete</div>

                            <div class="modal fade" id="deleteModal{{ payment.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Remove from Wallet</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <strong class="modal-body">
                                      Are you sure you want to remove this payment method from your wallet? Once removed, you won't be able to access it again unless you re-add it.
                                  </strong>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                    <a type="button" class="btn btn-danger" href="{% url 'delete_payment' payment.id %}">Delete from Wallet</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% include 'my_app/paginator.html' %}
        </div>
    </div>
{% endblock %}