{% include 'core/base/header.html' %}{% load static %}

<meta name="csrf-token" content="{{ csrf_token }}">
<link href="{% static 'core/css/stripe.css' %}" rel="stylesheet">
<script src="{% static 'core/js/add_payment.js' %}"></script>

<body class="d-flex flex-column justify-content-between vh-100">
<div class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h2 class="h3">Add a Payment Option</h2>
              </div>
            </div>
          </div>
<!--          Payment Container  -->
          <div class="payment-container">
            <form id="payment-form">
              <div id="payment-element"></div>
              <div id="address-element"></div>
              <div class="text-center"><button type="submit" id="submit-button" class="btn btn-primary mt-3 w-50 justify-self-center">Add Payment</button></div>
              <div id="payment-message" class="hidden fw-bold text-danger"></div>
            </form>
          </div>
<!--          -->
          <div class="row">
            <div class="col-12">
              <hr class="mt-5 border-secondary-subtle">
              <div class="d-flex gap-4 justify-content-end">
                <a href="{% url 'payments' %}" class="btn btn-dark">Discard Changes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'core/base/footer.html' %}