{% include 'my_app/base/header.html' %}
{% load widget_tweaks %}
  <body class="d-flex flex-column justify-content-between bg-light">
    <div class="container bg-white p-4 p-md-5 mb-4 rounded shadow-sm fw-bold text-black col-12 col-md-10 col-lg-4">
      <div class="fs-3 text-center my-3">Sign Up</div>
      <div class="fs-6 text-center my-3">Sign up to continue</div>
      <form method="post" action="{% url 'register' %}">
        <div class="d-flex justify-content-between gap-4">
          <div class="d-flex flex-column flex-grow-1">
            {% csrf_token %}
              {% if messages %}
                  {% for message in messages %}
                      {% if message.tags == 'success' %}<div class="text-{{ message.tags }} fs-6">{{ message }}</div>{% endif %}
                  {% endfor %}
              {% endif %}

            <div class="form-label">{{ form.first_name.label }}</div>
            {% render_field form.first_name class+='form-control' %}
          </div>
          <div class="d-flex flex-column flex-grow-1">
            <div class="form-label">{{ form.last_name.label }}</div>
            {% render_field form.last_name class+='form-control' %}
          </div>
        </div>
<!--          Username Field-->
        <div class="form-label">{{ form.username.label }}</div>
        {% render_field form.username class+='form-control' %}
        {% for error in form.username.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
<!--        Email Field-->
        <div class="form-label">{{ form.email.label }}</div>
        {% render_field form.email class+='form-control' %}

        {% for error in form.email.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
<!--        Phone Number Field-->
        <div class="d-flex flex-column">
          <div class="form-label">{{ form.phone.label }}</div>
          {% for error in form.phone.errors %}
            <div class="text-danger">{{ error }}</div>
          {% endfor %}
          {% render_field form.phone class+='form-control' %}
        </div>
<!--        Password Field-->
        <div class="form-label">{{ form.password.label }}</div>
        {% render_field form.password class+='form-control' %}

<!--        Confirm Password Field-->
        <div class="form-label">{{ form.confirm.label }}</div>
        {% render_field form.confirm class+='form-control' %}
        {% for error in form.confirm.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
<!--          Select Fields-->
        <div class="d-flex flex-column">
            <div class="d-flex flex-column align-items-start">
                <div class="form-label">{{ form.agree.label }}</div>
                {{ form.agree }}
            </div>
            <div class="d-flex flex-column align-items-start">
                <div>{{ form.tos.label }} <a class="text-decoration-none" href="{% url 'tos' %}" target="_blank" rel="noreferrer noopener">Terms of Services</a></div>
                {{ form.tos }}
            </div>
        </div>
          <div class="text-center"><button type="submit" class="form-control btn btn-primary my-2 w-50">Sign Up</button></div>
      </form>
      <div class="fs-6 bold text-end my-3">Already have an account?<a class="fs-6 text-decoration-none" href="{% url 'login' %}"> Sign In</a></div>
    </div>
{% include 'my_app/base/footer.html' %}