{% include 'core/base/header.html' %}{% load widget_tweaks %}
<body class="d-flex flex-column justify-content-between vh-100">

<div class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h2 class="h3">Password Reset</h2>
                <h3 class="fs-6 fw-normal text-secondary m-0">Provide the email address associated with your account to recover your password.</h3>
              </div>
            </div>
          </div>
          <form action="{% url 'reset_password' %}" method="post">
            {%  csrf_token  %}

              {% if messages %}
                  {% for message in messages %}
                      {% if 'success' in message.tags %}
                        <div class="text-primary fw-bold fs-6">{{ message }}</div>
                      {% elif 'warning' in message.tags %}
                        <div class="text-warning fw-bold fs-6">{{ message }}</div>
                      {% endif %}
                  {% endfor %}
              {% endif %}

            <div class="form-label">{{ form.email.label }}</div>
            {% render_field form.email class+='form-control' %}

              {% if messages %}
                  {% for message in messages %}
                     {% if 'error' in message.tags %} <div class="fw-bold text-danger fs-6">{{ message }}</div>{% endif %}
                  {% endfor %}
              {% endif %}

            <div class="text-center"><button class="form-control btn btn-primary my-2 w-50">Send Link</button></div>
          </form>
          <div class="row">
            <div class="col-12">
              <hr class="mt-5 mb-4 border-secondary-subtle">
              <div class="d-flex gap-4 justify-content-end">
                <a href="{% url 'login' %}" class="link-secondary text-decoration-none">Login</a>
                <a href="{% url 'register' %}" class="link-secondary text-decoration-none">Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'core/base/footer.html' %}